@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary {
	display: block;
}

.wrapper {
	min-width: 100%;
	min-height: 100%;
	height: auto !important;
}

/* header */
header {
	position: fixed;
	width: 100%;
	padding: 5px 0px;
	margin-bottom: 100px;
	height: 35px;
	background-color: #059EFF;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
	top: 0;
	left: 0;
	z-index: 100;
}

header>div {
	margin-left: 8px;
}

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 45px 0 0;
	background-color: ghostwhite;
}

/* Footer */
footer {
	clear: both;
	padding: 5px 8px;
	margin-bottom: 0px;
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: #059EFF;
	color: #fff;
}

/* Middle */
.middle {
	width: 100%;
	padding: 0 0 50px;
}

.middle:after {
	display: table;
	clear: both;
	content: '';
}

.container {
	padding: 0 0.2% 0 10.3%;
}

/* Left Sidebar */
.left-sidebar {
	width: 10%;
	height: 100%;
	position: absolute;
	background-color: transparent;
}

.left-sidebar .ui-button {
	width: 100%;
}

.left-sidebar .ui-button .ui-button-text {
	text-align: left;
	font-weight: bold;
}

.ui-menuitem-link:hover {
	background-color: #059EFF;
	color: #fff;
}

.left-sidebar .ui-panelmenu-header a {
	background-color: #059EFF;
	color: #fff;
	font-weight: bold;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px
}

.rotulo {
	width: 150px
}

.ui-panelgrid td {
	height: 34px
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px
}

.ui-selectmanycheckbox td, .ui-selectoneradio td {
	border-width: 0px !important;
	padding: 0px !important;
}

.ui-selectmanycheckbox td label, .ui-selectoneradio td label {
	padding-right: 10px;
}

/* Customiza TabView - início */
.ui-tabs .ui-tabs-panel {
	padding: 0.5em 0.2em !important;
}

.ui-tabs {
	padding: 0px !important;
}

.ui-tabs .ui-tabs-nav {
	margin: -1px !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
	padding: 0px !important;
}
/* Customiza TabView - fim */

/* Menu sistema inicio */
.menu-sistema {
	border: 0px !important;
	padding: 0px !important;
	background: none !important;
}

.menu-sistema .ui-menu-parent>a .ui-menuitem-text, .menu-sistema>.ui-menu-list>.ui-menuitem>a>.ui-menuitem-text
	{
	/*color: #000 ! important;*/
	
}
/* Menu sistema fim */

/* Sem Borda */
.semBorda tr, .semBorda td {
	border: none !important;
}

/* Bordas arredondadas nas imagens */
.border {
	border-radius: 0px;
}

.ui-panelgrid .ui-widget-content {
	background: transparent;
}

.toolbar {
	margin-top: 2px;
	margin-bottom: 4px;
}

a.button {
	display: inline-block;
	background: lightgray;
	border: 2px outset lightgray;
	cursor: default;
}

a.button:active {
	border-style: inset;
}

.ui-datatable tr.ui-datatable-even:hover, .ui-datatable tr.ui-datatable-odd:hover
	{
	background: #78BCFF;
}